<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 250px; background-image: url(assets/img/brand/fondo_login.jpg); background-size: cover; background-position: center top; background-position-y: -350px;">
  <!-- Mask -->

  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">

  </div>
</div>
  <div class="container-fluid mt--7">
    <div class="row">
    
      <div class="col-xl-12 order-xl-1">
        <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Versión</h3>
              </div>
              <div class="col-4 text-right">    
                <a [routerLink]="['/vehicle-list']" class="btn btn-sm btn-default my-4">              
                  Atras
                </a>        
                <button type="submit" [disabled]="loading" class="btn btn-sm btn-primary my-4">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Guardar
                </button>       
         
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div *ngIf="success" class="alert alert-success mt-3 mb-0">Registro exitoso</div>
            
              <h6 class="heading-small text-muted mb-4"></h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="exampleFormControlSelect1">Marca</label>
                        <select class="form-control form-control-alternative" formControlName="brand" (change)="changeModel()">
                            <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name}}
                            </option>

                        </select>
                    </div> 
                  </div>
                  <div class="col-lg-6">
  
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-control-label" for="exampleFormControlSelect1">Linea</label>
                            <select class="form-control form-control-alternative" formControlName="model" >
                                <option *ngFor="let model of models" [ngValue]="model.id">{{model.name}}
                                </option>
    
                            </select>
                        </div> 
                    </div>
        
  
                  </div>
                </div>


                <div class="row">
                    <!--<div class="col-lg-6">
                        <label class="form-control-label" for="input-username">Año del modelo</label>
                        <input 
                        type="number" maxlength="4"
                        class="form-control form-control-alternative" 
                        formControlName="modelYear" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.modelYear.errors }" />
                        <div *ngIf="submitted && f.modelYear.errors" class="invalid-feedback">
                            <div *ngIf="f.modelYear.errors.required">Requerido</div>
                        </div>
                    </div> -->
                    <div class="col-lg-6">
    
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Nombre</label>
                        <input 
                        type="url" 
                        id="name" 
                        class="form-control form-control-alternative" 
                        formControlName="name" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Requerido</div>
                        </div>
                      </div>
    
                    </div>
                  </div>
        
              </div>
      
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  