<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 250px; background-image: url(assets/img/brand/fondo_login.jpg); background-size: cover; background-position: center top; background-position-y: -350px;">
  <!-- Mask -->

  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">

  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Marcas</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#/brand" class="btn btn-sm btn-primary">Nuevo</a>
            </div>
          </div>
        </div>
        <form [formGroup]="modelForm">
            
          </form>  
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of brands; let i = index">
                <th>
                  {{item.id}}
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{item.name}}</span>
                    </div>
                  </div>
                </th>
                <td class="text-right">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <!--<a class="btn btn-secondary" (click)="onDelete(item.id, item.brand.id)">Eliminar</a>-->
                    <a [routerLink]="['/brand', { id: item.id }]" class="btn btn-secondary">Editar</a>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <!--- <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>-->
              <li *ngFor="let pageLink of pageLinks" class="page-item {{currentPage==pageLink? 'active':''}}">
                <button class="page-link" (click)="list(pageLink)">{{pageLink}}</button>
              </li>
              <!--<li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>-->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>